<ion-content>
  <div class="card-wrapper" style="margin-top: 32%; margin-bottom: 8vh;">
    <div [ngSwitch]="type">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">

              <ion-card [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + photo + '\')',
                'background-repeat': 'no-repeat',
                'background-size': 'cover'}" style="object-fit: fill;">
                <ion-card-header>
                  <ion-card-title class="moi2">{{titre}}</ion-card-title>
                  <ion-card-subtitle class="moi2">Categories:{{cate}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="moi2" style="margin-bottom: 20%;">
                  meta description
                </ion-card-content>
                <style>
                  ion-segment::-webkit-scrollbar {
                    display: none;
                  }

                  ion-segment {
                    background-color: #3880FF;
                    color: white;
                    height: 40%;
                    position: absolute;
                    top: 60%;
                    width: 100%;
                  }

                  ion-segment-button.segment-button-checked {
                    background-color: #fff;
                    color: #707070;
                    border-radius: 12px;
                    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
                    height: 20% !important;
                  }

                  ion-segment-button {
                    height: 20% !important;
                    /* 20% de moins que la hauteur originale */
                  }
                </style>
                <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
                  <ion-segment-button value="deposit" checked>
                    <ion-label>Détails</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="Code">
                    <ion-label>Code</ion-label>

                  </ion-segment-button>
                  <ion-segment-button value="Classement">
                    <ion-label>Rang</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="Forum">
                    <ion-label>Forum</ion-label>
                  </ion-segment-button>
                  <ion-segment-button *ngIf="isLoggedIn" value="equipe">
                    <ion-label>Equipe</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ion-card>
            </div>
          </div>
        </div>
        <!-- card right -->
        <ion-list *ngSwitchCase="'deposit'">
          <div class="product-content" style="margin-top: 2%;">
            <div class="product-detail">
              <h2>Description et critères: </h2>
              <p>{{description}}</p>
              <ion-accordion-group #accordionGroup *ngFor="let crite of critere; let i = index">
                <ion-accordion [value]="i + 1">
                  <ion-item slot="header" color="light">
                    <ion-label>Critere {{i+1}}</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">{{crite.critere}}</div>
                </ion-accordion>
              </ion-accordion-group>
              <style>
                ion-accordion {
                  border-radius: 15px !important;
                  background-color: white !important;
                  margin-bottom: 4%;
                  transition: all 0.3s ease-in-out;
                  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
                }

                ion-accordion:hover {
                  box-shadow: 0px 0px 10px #3880FF;
                }

                ion-item {
                  background-color: inherit !important;
                }

                .ion-padding {
                  margin-left: 4% !important;
                }
              </style>
            </div>

            <div class="purchase-info">
              <button *ngIf="isLoggedIn" type="button" class="btn"
                style="font-size: 1.2em;margin-left: auto;margin-right: auto;" id="open-modal" expand="block">
                &nbsp; &nbsp;&nbsp; Créer une équipe <i class="fas fa-plus" style="color: white;"></i>
              </button>
              <button *ngIf="!isLoggedIn" type="button" class="btn"
                style="font-size: 1.2em;margin-left: auto;margin-right: auto;" routerLink="/menu/connexion"
                expand="block">
                &nbsp; &nbsp;&nbsp; Créer une équipe <i class="fas fa-plus" style="color: white;"></i>
              </button> <br>
              <button *ngIf="isLoggedIn" type="button" class="btn"
                style="font-size: 1.2em;margin-left: auto;margin-right: auto;" id="open-modal5" expand="block">
                &nbsp; &nbsp;&nbsp; Créer une équipe <i class="fas fa-plus" style="color: white;"></i>
              </button>
            </div>

            <ion-modal #modal trigger="open-modal">
              <ng-template>
                <h1 slot="end" style="margin-left: 90%; cursor: pointer;" (click)="modal.dismiss()">x</h1>
                <form [formGroup]="equipe" style=" margin-top: 40px !important; position: absolute;"
                  (ngSubmit)=" onSubmitEquipe()">
                  <h1 style="font-size: 1.2em; margin-bottom: 3%; margin-left: 5% !important;">Créer votre équipe</h1>
                  <div *ngIf="status==false" style="color: red; padding: 2%;">{{ errorMessage }}</div>
                  <div *ngIf="status==true" style="color: blue; padding: 2%;">{{ errorMessage }}</div>
                  <div style="display: flex; flex-direction: column; align-items: center;">
                    <input type="text" name="nom" formControlName="nom" placeholder="Nom de l'équipe"
                      style="margin-bottom: 10%; width: 90%; padding: 10px; font-size: 20px; border-radius: 5px;">
                    <button type="submit"
                      style="background-color: #3880FF; color: white; padding: 10px 20px; border: none; border-radius: 5px; width: 90%;">Envoyer</button>
                  </div>
                </form>
              </ng-template>
            </ion-modal>

            <ion-modal #modal trigger="open-modal5">
              <ng-template>
                <h1 slot="end" style="margin-left: 90%; cursor: pointer;" (click)="modal.dismiss()">x</h1>
                <form [formGroup]="form"
                  style=" margin-top: 40px !important; position: absolute; margin-left: auto;margin-right: auto;">
                  <h1 style="font-size: 1.2em; margin-bottom: 3%; margin-left: 5% !important;">Joindre le zip du
                    solution</h1>
                    <div *ngIf="status==false" style="color: red; padding: 2%;">{{ errorMessage }}</div>
                    <div *ngIf="status==true" style="color: blue; padding: 2%;">{{ errorMessage }}</div>
                  <div style="display: flex;
                   flex-direction: column; align-items: center; 
                  border: 1px solid #707070; margin-bottom: 2%; width: 85%; 
                  margin-left: auto; margin-right: auto; border-radius: 12px;">
                    <input type="hidden" formControlName="lienGithub" class="form-control">
                    <input type="hidden" formControlName="point" class="form-control">
                    <input type="file" formControlName="source" class="form-control" (change)="uploadFile($event)"
                      style="margin-bottom: 1%; width: 90%; padding: 10px; font-size: 20px; border-radius: 5px;">
                  </div>
                  <button type="submit" (click)="submit()" style="background-color: #3880FF; color: white;
                       padding: 10px 20px; border: none;
                       border-radius: 5px; width: 85%; margin-left: 6%;">Envoyer</button>
                </form>
              </ng-template>
            </ion-modal>

            <!-- <ion-modal #modal trigger="open-modal5">
              <form [formGroup]="form">
                <input type="hidden" formControlName="lienGithub" class="form-control">
                <input type="hidden" formControlName="point" class="form-control">
                  <label for="source">Source</label>
                  <input type="file" formControlName="source" class="form-control" (change)="uploadFile($event)">
                <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
              </form>
            </ion-modal> -->


            <div class="social-links">
              <i class="fas fa-calendar"></i>
              <p>&nbsp;Date de debut:&nbsp; </p>
              <span>{{datedebut | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="social-links">
              <i class="fas fa-calendar"></i>
              <p>&nbsp;Date de fin: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </p>
              <span>{{datefin | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Code'">
          <ion-grid style="margin-top: 5%;">
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <b>1</b>
                <span>Equipe2</span>
                <span>Code</span>
                <a href="#"><i class="bi bi-cloud-arrow-down-fill" style="color: #3880FF;"></i></a>
              </div>
            </div>
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <b>2</b>
                <span>Equipe2</span>
                <span>Code</span>
                <a href="#"><i class="bi bi-cloud-arrow-down-fill" style="color: #3880FF;"></i></a>
              </div>
            </div>
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <b>3</b>
                <span>Equipe2</span>
                <span>Code</span>
                <a href="#"><i class="bi bi-cloud-arrow-down-fill" style="color: #3880FF;"></i></a>
              </div>
            </div>
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <b>4</b>
                <span>Equipe2</span>
                <span>Code</span>
                <a href="#"><i class="bi bi-cloud-arrow-down-fill" style="color: #3880FF;"></i></a>
              </div>
            </div>
          </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'Forum'">
          <div class="tous" style="margin-top: 2%;">

            <div class="mesquestions">
              <div class="question">
                <img src="../../assets/mobile.jpg" alt="">
                <span>Mamady Camara</span>
                <span class="mesnombres">2000</span>
              </div>
              <p>comment faire ce challenge
                comment faire ce challenge </p>
              <hr style="height: 2px; background-color: #707070;">
            </div>
            <div class="mesquestions">
              <div class="question">
                <img src="../../assets/mobile.jpg" alt="">
                <span>Mamady Camara</span>
                <span class="mesnombres">2000</span>
              </div>
              <p>comment faire ce challenge
                comment faire ce challenge </p>
              <hr style="height: 2px; background-color: #707070;">
            </div>
            <div class="mesquestions">
              <div class="question">
                <img src="../../assets/mobile.jpg" alt="">
                <span>Mamady Camara</span>
                <span class="mesnombres">2000</span>
              </div>
              <p>comment faire ce challenge
                comment faire ce challenge </p>
              <hr style="height: 2px; background-color: #707070;">
            </div>
            <div class="mesquestions">
              <div class="question">
                <img src="../../assets/mobile.jpg" alt="">
                <span>Mamady Camara</span>
                <span class="mesnombres">2000</span>
              </div>
              <p>comment faire ce challenge
                comment faire ce challenge </p>
              <hr style="height: 2px; background-color: #707070;">
            </div>
            <h1 style="height: 2px;"></h1>
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Classement'">
          <ion-grid style="margin-top: 5%;">
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <a href="#">1</a>
                <span>Equipe1</span>
                <span>100 points</span>
              </div>
            </div>
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <a href="#">2</a>
                <span>Equipe1</span>
                <span>100 points</span>
              </div>
            </div>
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <a href="#">3</a>
                <span>Equipe1</span>
                <span>100 points</span>
              </div>
            </div>
            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <a href="#">4</a>
                <span>Equipe1</span>
                <span>100 points</span>
              </div>
            </div>

            <div class="monLabel">
              <div class="social-media" style="display: flex;justify-content: space-around;">
                <a href="#">5</a>
                <span>Equipe1</span>
                <span>100 points</span>
              </div>
            </div>
            <!-- <div class="monLabel">
              <div class="social-media">
                <a href="#">12</a>
                <div class="icons" style="margin-right: 6%;">
                  <span> <img src="../../assets/mobile.jpg" alt=""></span>
                  <span><img src="../../assets/mobile.jpg" alt=""></span>
                  <span><img src="../../assets/mobile.jpg" alt=""></span>
                  <b style="margin-top: 3%; margin-left: 3%;">FirstEquipe</b>
                </div>
              </div>
            </div> -->


          </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'equipe'">
          <div class="tous" style="margin-top: 2%;">

            <div class="mesquestions" *ngFor="let membre of afficherEquipeMembre1">
              <div class="question">
                <img src="{{membre.profile}}" alt="">
                <span>{{membre.nom}} {{membre.prenom}}</span>
              </div>
              <hr style="height: 2px; background-color: #707070;">
            </div>
            <div class="mesquestions">
              <div class="question">
                <img src="../../assets/mobile.jpg" alt="">
                <span>Mamady Camara</span>

              </div>

              <hr style="height: 2px; background-color: #707070;">
            </div>
            <div class="mesquestions">
              <div class="question">
                <img src="../../assets/mobile.jpg" alt="">
                <span>Mamady Camara</span>
              </div>
              <hr style="height: 2px; background-color: #707070;">
              <button type="button" class="btn" id="open-modal3"
                style="font-size: 1.2em;margin-left: 50%;margin-top: 20% !important; background-color: #3880FF;border-radius: 15px;text-align: center;color: #FFF; margin-bottom: 2% !important; height: 35px !important; "
                id="open-modal" expand="block">
                &nbsp; Nouvelle <i class="fas fa-plus" style="color: white;"></i> &nbsp;
              </button>


              <ion-modal #modal3 trigger="open-modal">
                <ng-template>
                  <form action="" [formGroup]="formUsers" style="margin-top: 10%;">
                    <ion-list>
                      <ion-item>
                        <ion-select placeholder="Sectionner une liste" [multiple]="true">
                          <ion-select-option value="1" formControlName="userIds">ici</ion-select-option>
                          <ion-select-option value="2" formControlName="userIds">ici</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                    <button type="submit"
                      style="background-color: #3880FF; color: white; padding: 10px 20px; border: none; border-radius: 5px; width: 90%; margin-top: 5% !important; margin-left: 5%;">Envoyer</button>
                  </form>

                </ng-template>
              </ion-modal>

              <div class="container">
                <h1>Add Users to Team for Challenge</h1>
                <form (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="userIds">User IDs:</label>
                    <input type="text" class="form-control" id="userIds" [(ngModel)]="userIds" name="userIds"
                      placeholder="Enter User IDs separated by commas">
                  </div>
                  <div class="form-group">
                    <label for="teamId">Team ID:</label>
                    <input type="number" class="form-control" id="teamId" [(ngModel)]="teamId" name="teamId">
                  </div>
                  <div class="form-group">
                    <label for="challengeId">Challenge ID:</label>
                    <input type="number" class="form-control" id="challengeId" [(ngModel)]="challengeId"
                      name="challengeId">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div *ngIf="message">
                  <p [ngClass]="{ 'success': success, 'error': !success }">{{ message }}</p>
                </div>
              </div>

            </div>
            <h1 style="height: 20%;"></h1>
          </div>
        </ion-list>
      </div>
    </div>
  </div>

  <style>
    .active {
      /* background-color: #3880FF; */
      color: #3880FF;
      font-size: 12px;
      height: 35px;
      width: 95px;
      background-color: white;
      border-top: 1px solid #707070;
      border-right: 1px solid #707070;
      border-left: 1px solid #707070;
      border-radius: 3px;
      justify-content: center !important;
    }

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10%;
      background-color: #FFF;
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
      border-radius: 12px;
    }

    .social-media::after {
      /* background-color: blue; */
      box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    }

    .social-media:hover {
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.549);
      margin-bottom: 2%;

    }

    a {
      position: relative;
      background-color: #E6E7E8;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10% !important;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      box-shadow: 2px 2px 8px 0px #BFBFBF;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration-line: none;
      border: .2em solid #3880FF;
    }

    a i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
    }

    /* a::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.5s ease-in-out;
    } */

    /* a:nth-child(1):hover::before {
      transform: scale(1);
      background-color: #3b5998;
      color: white;
    }

    a:nth-child(1) {
      color: #3b5998;
    } */









    .monLabel {
      display: block !important;
      margin-bottom: 3%;
    }
  </style>


</ion-content>