<ion-content>
  <nav class="navMenu1" style="display:flex">
    <h1>Les details du challenge 10</h1>
    <button routerLinkActive="active" routerLink="/menu/details">Information</button>
    <button routerLinkActive="active" routerLink="/menu/avenir">Code</button>
    <button routerLinkActive="active" routerLink="/menu/encours">Classement</button>
    <button routerLinkActive="active" routerLink="/menu/terminer">Question</button>
    <div class="dot"></div>
  </nav>

  <div class="" style="width: 90%; margin-left: auto;border-radius: 12px; margin-right: auto; border: 1px solid #5260FF;">


    <ion-grid style="width: 99%; margin-left: auto; margin-right: auto; border-bottom: 1px solid #5260FF;">
      <ion-row>
        <ion-col size="auto"  style="border-right:1px solid #5260FF ;">
          <div style="width: 150px">2</div>
        </ion-col>
        <ion-col class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita odio iure, vitae, sed ab deserunt eaque adipisci accusamus similique sunt, odit sit? Doloremque nulla necessitatibus ipsa cum tempora. Quidem, aspernatur.</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="width: 99%; margin-left: auto; margin-right: auto; border-bottom: 1px solid #5260FF;">
      <ion-row>
        <ion-col size="auto"  style="border-right:1px solid #5260FF ;">
          <div style="width: 150px">2</div>
        </ion-col>
        <ion-col class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita odio iure, vitae, sed ab deserunt eaque adipisci accusamus similique sunt, odit sit? Doloremque nulla necessitatibus ipsa cum tempora. Quidem, aspernatur.</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="width: 99%; margin-left: auto; margin-right: auto; border-bottom: 1px solid #5260FF;">
      <ion-row>
        <ion-col size="auto"  style="border-right:1px solid #5260FF ;">
          <div style="width: 150px">2</div>
        </ion-col>
        <ion-col class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita odio iure, vitae, sed ab deserunt eaque adipisci accusamus similique sunt, odit sit? Doloremque nulla necessitatibus ipsa cum tempora. Quidem, aspernatur.</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="width: 99%; margin-left: auto; margin-right: auto; border-bottom: 1px solid #5260FF;">
      <ion-row>
        <ion-col size="auto"  style="border-right:1px solid #5260FF ;">
          <div style="width: 150px">2</div>
        </ion-col>
        <ion-col class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita odio iure, vitae, sed ab deserunt eaque adipisci accusamus similique sunt, odit sit? Doloremque nulla necessitatibus ipsa cum tempora. Quidem, aspernatur.</ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
