<ion-content>
  <div class="blog-card">
    <img class="img-3" src="../../assets/mobile.jpg">
    <ion-list class="my-radio-list">
      <div [class.active]="activeOption === 1" (click)="activeOption = 1" (click)="showContent(1)"><span>Terminer</span>
      </div>
      <div [class.active]="activeOption === 2" (click)="activeOption = 2" (click)="showContent(2)"><span> &nbsp;Encours
        </span></div>
      <div [class.active]="activeOption === 3" (click)="activeOption = 3" (click)="showContent(3)"><span>&nbsp; A
          venir</span></div>
    </ion-list>
    <div class="inner-part">
      <div class="content content-1" *ngIf="content === 1">
        <span>Les challenges terminer</span>
        <div class="moi">
          <div class="slider owl-carousel" *ngFor="let terminer of challengeTerminer">
            <div class="card">
              <div class="img"><img src="{{terminer.photo}}" style="height: 100px !important;" alt=""></div>
              <div class="content1">
                <div class="title">{{terminer.titre}}</div>
                <div class="sub-title">{{terminer.cate[0].nom}}</div>
                <p>{{terminer.description}}</p>
                <div class="btn">
                  <button [routerLink]="['/menu/details',terminer.id]" style="margin-left: 20% !important; font-size: 1.2em;">Savoir
                    plus...</button>
                </div>
              </div>
            </div>
          </div>
          <div class="text btn">
            <button routerLink="/menu/details">Savoir plus...</button>
          </div>
          <hr>
        </div>
        <style>
          .moi {
            width: 100% !important;

          }

          .slider {
            width: 100% !important;
          }
        </style>
      </div>
      <div class="content content-2" *ngIf="content === 2">
        <span>Les challenges encours</span>
        <div class="moi">
          <div class="slider owl-carousel"  *ngFor="let encours of challengeEncours">
            <div class="card">
              <div class="img"><img src="{{encours.photo}}" style="height: 100px !important;" alt=""></div>
              <div class="content1">
                <div class="title">{{encours.titre}}</div>
                <div class="sub-title">{{encours.cate[0].nom}}</div>
                <p>{{encours.description}}</p>
                <div class="btn">
                  <button [routerLink]="['/menu/details',encours.id]" style="margin-left: 20% !important; font-size: 1.2em;">Savoir
                    plus...</button>
                </div>
              </div>
            </div>
          </div>
          <div class="text btn">
            <button routerLink="/menu/details">Savoir plus...</button>
          </div>
          <hr>
        </div>
      </div>
      <div class="content content-3" *ngIf="content === 3">
        <span>Les challenges à venir</span>
        <div class="moi">
          <div class="slider owl-carousel" *ngFor="let avenir of challengeAvenir">
            <div class="card">
              <div class="img"><img src="{{avenir.photo}}" style="height: 100px !important;" alt=""></div>
              <div class="content1">
                <div class="title">{{avenir.titre}}</div>
                <div class="sub-title">{{avenir.cate[0].nom}}</div>
                <p>{{avenir.description}}</p>
                <div class="btn">
                  <button [routerLink]="['/menu/details',avenir.id]"  style="margin-left: 20% !important; font-size: 1.2em;">Savoir plus...</button>
                </div>
              </div>
            </div>
          </div>
          <div class="text btn">
            <button routerLink="/menu/details">Savoir plus...</button>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<!-- </ion-content> -->