<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Mon profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="!isLoggedIn">
      <ion-button class="" id="open-custom-dialog" expand="block"
        style="background-color:#707070;border-radius: 12px; color:white;" (click)="openModal()">Se
        connecter</ion-button>
      <ion-button class="" id="open-custom-dialog1" (click)="openModal2()">S'inscrire</ion-button>
    </div>
    <div *ngIf="isLoggedIn" class="nav-item  dropdown">
      <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
          <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
              class="btn btn-secondary"> <img src="{{currentUser.profile}}" height="100" width="100" /></button>
            <span class="name mt-3">{{currentUser.username}}</span> <span class="idd">{{currentUser.email}}</span>

            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">12000<span
                  class="follow">Points</span></span> </div>
            <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Modifier profile</button> </div>
            <div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital
                artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                  class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                  class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" color="tertiary">
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button class="men"></ion-menu-button>
        <img src="../../assets/lol.png" class="logo logo2" alt="">
      </ion-buttons>
      <div class="row Rechercher">
        <div class="col-md-8">
          <h1 (click)="logout()">bbb</h1>
        </div>
        <div class="col-md-4">
          <ion-searchbar color="light" placeholder="Rechercher..."></ion-searchbar>
        </div>
      </div>
      <ion-buttons slot="end">
        <div *ngIf="!isLoggedIn" style="display: flex;">
          <ion-button class="connexion" (click)="openModal()" id="open-custom-dialog" expand="block"
            style="background-color:#707070;border-radius: 12px; color:white;">Se connecter</ion-button>
          <ion-button class="connexion" id="open-custom-dialog1" (click)="openModal2()">S'inscrire</ion-button>
        </div>
        <div *ngIf="isLoggedIn" class="nav-item profile dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <img class="rounded-circle me-lg-2" src="{{currentUser.profile}}" alt="" style="width: 40px; height: 40px;">
            <span class="d-none d-lg-inline-flex">{{ currentUser.username }}</span>
          </a>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="dark">
    <!-- ========debut du tabs barre=== -->
    <ion-tabs class="tabs" color="tertiary">
      <ion-tab-bar color="tertiary" slot="bottom">
        <ion-tab-button tab="accueil">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Accueil</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="terminer">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon name="map"></ion-icon>
          <ion-label>Forum</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="challenge">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Challenge</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>