<ion-content [fullscreen]="true">
  <div class=" " style="height: 65%;">
    <ion-slides [options]="options">
      <ion-slide>
        <div class="slide row">
          <div class="col-md-6">
            <h2>Bienvenue sur DevsCiwara</h2>
            <p>
              Améliorez votre expertise en programmation en prenant part à notre compétition de développement
            </p>
            <div class="py-3 moi" style="margin-top: 25%;">
              <button>
                Voir les challenge
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <img src="../../assets/programmer-1.gif" style="width: 100% !important;height:50% !important;">
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide row">
          <div class="col-md-6">
            <h2>Welcome</h2>
            <p>
              Rejoignez notre communauté de développeurs et relevez des défis pour améliorer vos compétences.
            </p>
            <div class="py-3 moi" style="margin-top: 25%;">
              <button>
                Voir les challenge
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <img
              src="../../assets/program.gif"
              style="width: 100% !important;height:70% !important;">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide row">
          <div class="col-md-6">
            <h2>Bienvenue</h2>
            <p>
              Devenez un développeur expérimenté en résolvant des défis techniques sur notre plateforme de challenge
            </p>
            <div class="py-3 moi" style="margin-top: 25%;">
              <button>
                Voir les challenge
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <img src="../../assets/Whyprogramming.gif"
              style="width: 100% !important;height:80% !important; margin-top: 5%;">
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide row">
          <div class="col-md-6">
            <h2>Bienvenue</h2>
            <p>
              Montrez vos compétences en programmation et gagnez de l'expérience en participant à notre challenge de
              développeurs
            </p>
            <div class="py-3 moi" style="margin-top: 25%;">
              <button>
                Voir les challenge
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <img src="../../assets/card.gif"
              style="width: 100% !important;height:70% !important;">
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="row mescards">
    <h1>Les 8 challenges les plus recentes</h1>
    <ion-card *ngFor="let ch of challenge"
      [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + ch.photo + '\')'}">
      <ion-card-header>
        <ion-card-title> {{ch.titre}}</ion-card-title>
        <ion-card-subtitle>Categories: {{ch.categories.nom}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ch.description}}
      </ion-card-content>

      <ion-button fill="clear">Action 1</ion-button>
      <ion-button fill="clear">Action 2</ion-button>
    </ion-card>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>